name: Terraform Continuous Integration

on:
  push:
    branches:
      - main

jobs:
  terraform_ci:
    runs-on: ubuntu-latest

    env:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v1
        with:
          terraform_version: latest

      - name: Change to Infrastructure Directory
        run: cd infrastructure/

      # Den Workspace Wechsel, sollte man sp채ter branch-abh채ngig machen DEV -> develop und PROD -> main
      - name: Terraform Validate
        run: terraform validate

      - name: Terraform Init
        run: |
          terraform init -backend-config="bucket=terraform-state-sportsvideo-to-article" -backend-config="key=terraform-state"
          terraform workspace select DEV

      - name: Terraform Apply 1st
        run: terraform apply -auto-approve

      - name: Terraform Apply 2nd
        run: terraform apply -auto-approve

      # Der Bucket-Name muss sp채ter auch Workspace, also Branch abh채ngig gesetzt
      - name: Upload HTML to S3
        run: aws s3 cp ../index.html s3://s3-bucket-with-static-index-html-dev/